/* sub-header */
#sub-header .bgimg{
    width:100%;
    height:565px;
    position:relative;
    padding-top: 116px;
    box-sizing: content-box;
    background: #ccc;
}
#sub-header .bgimg .imgbg{
    width:100%;
    height: 565px;
    background-image: url(../images/road.jpg);
}
#sub-header .sub-container{
    width: 1200px;
    height: 565px;
    max-width: 1200px;
    min-width:1000px;
    margin: 0 auto;
    text-align: center;
}
#sub-header .sub-container h2{
    color:#fff;
    padding-top: 211px;
    font-size:45px;
    font-weight: 500;
    /* position:relative; */

}

#sub-header .bgimg .lnb-bgbox{
    width:100%;
    position:absolute;
    bottom:0;
    background: #000;
    height: 50px;
    opacity:0.6;
}
#sub-header .bgimg .lnbbox{
    width: 1200px;
    height: 50px;
    position:absolute;
    bottom:0;
    z-index:1;
    
}
#sub-header .bgimg .lnbbox .lnb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
#sub-header .bgimg .lnbbox .lnb > li{
    width:33.33%;
    color:#fff;
}
.textbox-company{
    width:400px;
    height: 50px;
    background: #fff;
    color:#000;
}
.textbox-company > a{
    line-height: 50px;
    font-weight: 500;
}
/*본문*/
.road-p h1 {
    margin-top: 80px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

hr{
    width: 1200px;
    margin: 0 auto;
}

.map {
    text-align: center;
    margin-top: 65px;
}

.map-text {
    display: flex;
    margin-top: 66px;
    font-size: 20px;
    margin-bottom: 40px;
}

.map-text span {
    color: #807B7B;
    margin-left: 20px;
}
.map-text .p2{
    margin-left: 280px;
}
.map-text .p3{
    margin-left: 110px;
}
hr{
    width: 1200px;
    margin: 0 auto;
}
.map-text2 {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 250px;
}


.map-text2 span {
    color: #A9A9AC;
    margin-left: 20px;
    font-size: 18px;
}
.map-text2 h2{
    color: #807B7B;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 110px;
    font-weight: normal;
}




/* footer */
#main-footer{ 
    border-top: 1px solid #B8B8B8;
    min-width:1200px;
    
}
#main-footer .footer-box{
    display:flex;
    

}
#main-footer .logo{
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 80px;
}
#main-footer .footer-text-box{
    /* outline:1px solid red; */
    margin-top: 31px;
    font-size:14px;
    padding-bottom: 31px;

}
#main-footer .footer-text-box .footer-info{
    display: flex;
    width:330px;
    justify-content: space-between;
}
#main-footer .footer-text-box .footer-info p{
    font-size: 16px;
}
#main-footer .footer-text-box .address{
    display: flex;
    justify-content: space-between;
    width:700px;
    margin-top: 20px;
    color:#6B6B6B;
}
#main-footer .footer-text-box .mail{
    color:#6B6B6B;
    margin-bottom: 10px;
}
#main-footer .footer-text-box .copy {
    color: #CECBCB;
}